@font-face {
    font-family: "digital";
    src: url(../fonts/digital-7.ttf);
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#pomodoro-clock {
    border: 15px solid gray;
    border-radius: 5px;
    background-color: silver;
    padding: 10px;
}

#timer-controls, #controls, #break-controls, #session-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#timer-label {
    border: 1px solid black;
    font-family: digital;
    border-radius: 5px;
    background-color: black;
    color:red;
}

#time-left {
	font-size: 60px;
}

#timer-label  {
    font-size: 30px;
}

#timer-controls > * {
	padding: 10px;
}

button {
	background: none;
	border: none;
}